body{
    background-color: #d5e1ef;
    display: flex;
    justify-content: center;
    font-family: 'Chewy', cursive;
}
.main{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.mainDiv{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    width: 250px;
}
.qrCode{
    border-radius: 10px;
    width: 250px;
    height: 250px;
}
h3, p{
    text-align: center;
    /* padding: 0px 20px 0px 10px; */
}
p{
    opacity: 0.5;
}